<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img src="assets/images/ball_player.png" alt="" style="max-width: 100%;height: auto;margin-bottom:30px;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xs-12 col-md-8 col-lg-8 ">
            <div class="userStats">
                <div class="data">
                    <div class="pic">
                        <img class="img-circle" width="150" height="150" ng-src="{{avatarUrl !== undefined && avatarUrl || 'assets/images/inconnu.gif'}}">
                    </div>
                    <div style="float:left;padding-left:10px;">
                        <h1><small style="width:50px;font-size: 11px">Username :</small>{{vm.getCurrentUser().name}} <button style="font-size: 11px" class="btn btn-xs" ng-class="{'btn-danger':!vm.getCurrentUser().name}" ng-click="vm.changeMyPseudo()"><span class="glyphicon glyphicon-pencil"></span></button></h1>
                        <h3><small style="width:50px;font-size: 11px">Full name : </small>{{vm.getCurrentUser().name}} <button style="font-size: 11px" class="btn btn-xs" ng-class="{'btn-danger':!vm.getCurrentUser().name}" ng-click="vm.changeMyPseudo()"><span class="glyphicon glyphicon-pencil"></span></button></h3>
                        <h3><small style="width:50px;font-size: 11px">Email : </small>{{vm.getCurrentUser().email}} <button style="font-size: 11px" class="btn btn-xs" ng-class="{'btn-danger':!vm.getCurrentUser().name}" ng-click="vm.changeMyPseudo()"><span class="glyphicon glyphicon-pencil"></span></button></h3>
                    </div>
                    <div class="socialMediaLinks">
                        <span data-ng-class="{'label-info': user.role.title == userRoles.user.title, 'label-warning': user.role.title == userRoles.vip.title, 'label-success': user.role.title == userRoles.admin.title}" class="label">{{vm.getCurrentUser().role.toUpperCase() }} </span>
                    </div>
                </div>
            </div>
            <h1>A propos de moi</h1> Je connais ce site par:
            <span style="font-size:18px;">
                <span ng-show="!mycontact" style="color:red">
                  Inconnu
                </span> {{mycontact}}
            <button class="btn btn-xs" ng-class="{'btn-danger':!mycontact}" ng-click="changeLien()"><span class="glyphicon glyphicon-pencil"></span> Modifier mon contact</button>
            </span>
            <br/>
            <p>
                J'appartiens à un ou plusieurs groupes :
            </p>
            <tags-input ng-model="tags" placeholder="Ajouter un groupe">
                <auto-complete source="loadTags($query)" min-length="1" highlight-matched-text="false"></auto-complete>
            </tags-input>
            <button class="btn btn-primary pull-right ladda-button" data-style="expand-right" ng-click="saveGroup()"><span class="ladda-label">Sauvegarder</span><span class="ladda-spinner"></span></button>
            Vous pouvez appartenir à plusieurs groupes en meme temps, cela vous permet si vous voulez vous faire un challenge entre amis et avoir votre propre classement indépendant en filtrant les résultats.
        </div>
        <div class="col-md-offset-1 col-xs-12 col-xs-12 col-md-3 col-lg-3 ">
            <div class="gcontent">
                <div class="head">
                    <h1>Statut</h1></div>
                <div class="boxy">
                    <p>Retrouver vos badges tout au long du tournoi!</p>
                    <div class="badgeCount">
                        <img ng-show="user.role.title == userRoles.user.title" width="50" height="50">
                        <img ng-hide="user.role.title == userRoles.user.title" width="50" height="50" src="images/vip-icon.png">
                        <img ng-hide="user.role.title == userRoles.user.title" width="50" height="50" src="images/euro{{userPaid == true && 'OK' || 'KO'}}.jpg">
                    </div>
                </div>
            </div>
            <div class="gcontent">
                <div class="head">
                    <h1>Actions</h1></div>
                <div class="boxy">
                    <div class="friendslist clearfix">
                        <div class="actionbutton">
                            <button class="btn btn-default" ng-click="changePhoto()"><span class="glyphicon glyphicon-picture"></span> Changer de photo</button>
                        </div>
                        <div class="actionbutton">
                            <button class="btn " ng-class="{'btn-warning': user.role.title == userRoles.user.title, 'btn-info': user.role.title == userRoles.vip.title}" ng-click="changeVIP(user.role.title)"><span class="glyphicon glyphicon-euro"></span> Passer {{user.role.title == userRoles.user.title && 'VIP' || 'Free Player'}}</button>
                        </div>
                        <div class="actionbutton">
                            <a href="/worldcup">
                                <button class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span> Voir mes pronostics</button>
                            </a>
                        </div>
                        <div class="actionbutton hide">
                            <button class="btn btn-default" disabled="disabled"><span class="glyphicon glyphicon-cog"></span> Changer mot de passe</button>
                        </div>
                        <div class="actionbutton">
                            <a href="/team">
                                <button class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span> Voir les Teams</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
        <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>
            <div class="form-group">
                <label>Current Password</label>
                <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword" mongoose-error/>
                <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ vm.errors.other }}
                </p>
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword" ng-minlength="3" required/>
                <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
                    Password must be at least 3 characters.
                </p>
            </div>
            <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.newPassword" ng-minlength="3" required="" />
                <p class="help-block" ng-show="form.confirmPassword.$error.match && vm.submitted">
                    Passwords must match.
                </p>
            </div>
            <p class="help-block"> {{ vm.message }} </p>
            <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
        </form>
    </div>
</div>
</div>
