<div class="">
    <div class="">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy;EuroProno2016. All Rights Reserved.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="social social-circle">
                    <li><a target="_blank" href="https://twitter.com/cedowi"><i class="iconmoon-twitter"></i></a></li>
                    <li><a target="_blank" href="#"><i class="iconmoon-facebook"></i></a></li>
                    <li><a target="_blank" href="https://github.com/wilsto/EuroProno2016_Web"><i class="iconmoon-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <p> Find an <a href="https://github.com/wilsto/EuroProno2016_Web/issues?state=open" target="_blank">issue</a>? We will try to fix it, but remember, if EuroPono'16 works correctly, it is because bugs crashed
    </p>
</div>
<div style="height:200px;background: url('assets/images/bg-grass.jpg'); background-repeat: repeat-x; background-size: 100% auto; background-position: center bottom;margin: 0">
</div>
