<div class="">
    <div class="">
        <div class="row">
            <div class="col-md-12 text-center">
                &copy;<span translate>EuroProno2016. All Rights Reserved.<span>
            </div>
            <ul>
                <li class="hover-dropdown"><span translate>Change language : </span> {{foo.language}}
                <div class="btn-group dropdown">
                    <div class="dropdown dropdown ">
                        <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#" class="dropdown-toggle btn btn-default " style="min-width: 60px;" aria-expanded="true">
                            <span ng-if="foo.lang==='fr'"><span class="countryflags France" ></span> Fr&nbsp;<span class="caret"></span></span>
                            <span ng-if="foo.lang==='en'"><span class="countryflags England" ></span> En&nbsp;<span class="caret"></span></span>
                            <span ng-if="foo.lang==='es'"><span class="countryflags Spain"></span> Es&nbsp;<span class="caret"></span></span>
                            <span ng-if="foo.lang==='de'"><span class="countryflags Germany" ></span> De&nbsp;<span class="caret"></span></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="min-width: 10px;">
                            <li style="float: none;"><a href="" tabindex="-1" ng-click="foo.changeLanguage('fr')"><span class="countryflags France"></span> Fr</a></li>
                            <li style="float: none;"><a href="" tabindex="-1" ng-click="foo.changeLanguage('en')"><span class="countryflags England"></span> En</a></li>
                            <li style="float: none;"><a href="" tabindex="-1" ng-click="foo.changeLanguage('es')"><span class="countryflags Spain"></span> Es</a></li>
                            <li style="float: none;"><a href="" tabindex="-1" ng-click="foo.changeLanguage('de')"><span class="countryflags Germany"></span> De</a></li>
                        </ul>
                    </div>
                </div>
                </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="social social-circle">
                        <li><a target="_blank" href="https://twitter.com/cedowi"><i class="iconmoon-twitter"></i></a></li>
                        <li><a target="_blank" href="#"><i class="iconmoon-facebook"></i></a></li>
                        <li><a target="_blank" href="https://github.com/wilsto/EuroProno2016_Web"><i class="iconmoon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p translate>Find an <a href="https://github.com/wilsto/EuroProno2016_Web/issues?state=open" target="_blank" translate>issue</a><span translate>? We will try to fix it, but remember, if EuroProno'16 works correctly, it is because bugs crashed
    </span></p>
    </div>
    <div style="height:200px;background: url('assets/images/bg-grass.jpg'); background-repeat: repeat-x; background-size: 100% auto; background-position: center bottom;margin: 0">
    </div>
