<header role="banner" class="ep2016-header">
    <div class="container navbar-container">
        <!-- <div class="row"> -->
        <navbar></navbar>
        <!-- </div> -->
    </div>
</header>
<div class="bg_default">
    <div class="container wrap-container" id='newsContentContainer'>
        <!-- haut page -->
        <div class="row">
            <div class="col-sm-12">
                <img src="assets/images/ball_news.png" alt="" style="max-width: 100%;height: auto;margin-bottom:30px;">
            </div>
        </div>
        <!-- contenu page -->
        <div class="row">
            <div class="userStats ">
                <div class="newsall ">
                    <!-- type 1 -->
                    <div class="col-sm-12 col-md-4 myHeight">
                        <div class="row fondnewsprono">
                            <div class="infoGroupN">Euro prono 2016</div>
                            <div ng-repeat="info in vm.filteredNewsOne">
                                <div class="transbox">
                                    <div> <img class="imgNewsS img-circle" src="" ng-src="assets/images/news/{{info.image}}"> {{info.title | translate}} </div>
                                    <p>
                                        {{info.info | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="infoGroupN">
                            <span class="tw" ng-repeat="p in vm.paginOne">
                                    <a class="glyphicon glyphicon-unchecked" ng-click="vm.pageChanged(p.numpag,1)" href="#"></a>
                                </span>
                        </div>
                    </div>
                    <!-- type 5 -->
                    <div class="col-sm-12 col-md-4 ">
                        <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                            <uib-slide ng-repeat="info in vm.typFives " index="info.id">
                                <img ng-src="assets/images/news/{{info.image}}" style="margin:auto;">
                                <div class="carousel-caption">
                                    <h4>{{info.title}}</h4>
                                    <p>{{info.info | translate}}</p>
                                </div>
                            </uib-slide>
                        </uib-carousel>
                    </div>
                    <!-- type 2 -->
                    <div class="col-sm-12 col-md-4 myHeight">
                        <div class="row ">
                            <div class=" infoGroup">News Euro</div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-12 col-md-12 fondnews" ng-repeat="info in vm.filteredNewsTwo">
                                <div class="col-sm-4 col-md-4 " style="padding-left:0px;"><img class="imgNewsS" src="" ng-src="assets/images/news/{{info.image}}" /></div>
                                <div><strong>{{info.title | translate}}</strong> {{info.info | translate}}</div>
                            </div>
                        </div>
                        <div class="row bGroup">
                            <span class="tw" ng-repeat="p in vm.paginTwo">
                                    <a class="glyphicon glyphicon-tint" ng-click="vm.pageChanged(p.numpag,2)" href="#"></a>
                                </span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4" ng-repeat="info in vm.news">
                        <!-- type 3 lien site -->
                        <div ng-if="info.type===3">
                            <span class="infoGroup"> Link </span>
                            <a href="{{info.info}}">
                                <img class="imgNews" src="" ng-src="assets/images/news/{{info.image}}"></a>
                            <a href="{{info.info}}" class="bGroup" target="_blank"><span class="glyphicon glyphicon-play">  {{info.title | translate}} </span></a>
                        </div>
                        <!-- type 4 -->
                        <div ng-if="info.type===4">
                            <div class="infoNews">
                                <span class="infoGroupN"> Team Info </span>
                                <img class="imgNews" src=" " ng-src="assets/images/news/{{info.image}} "><strong>{{info.title | translate}}</strong>
                                <div>{{info.info | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="userStats ">
                <div class="data ">
                    <div class="head ">
                        <h2>Add new info</h2>
                        <form class="form " name="form " ng-submit="vm.createNews(form) " novalidate>
                            <div class="form-group ">
                                <label>Type</label>
                                <select name="type " autofocus class="form-control " ng-model="vm.newinfo.type " required style="background-color: #FFF " tabindex=1>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <label>Title</label>
                                <input type="text " name="title " class="form-control " ng-model="vm.newinfo.title " required style="background-color: #FFF " tabindex=2>
                            </div>
                            <div class="form-group ">
                                <label>Info</label>
                                <input type="text " name="info " class="form-control " ng-model="vm.newinfo.info " required style="background-color: #FFF " tabindex=2>
                            </div>
                            <div class="form-group ">
                                <label>Image</label>
                                <input type="text " name="image " class="form-control " ng-model="vm.newinfo.image " required style="background-color: #FFF " tabindex=3>
                            </div>
                            <div>
                                <button class="btn btn-success btn-lg " type="submit " style="float:right;width:200px ">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin row -->
</div>
<footer></footer>
<!-- fin container -->
</div>
<!-- fin bg -->
</div>
