<header class="hero-unit" id="banner">
  <div class="container">
    <h1>EuroProno'16</h1>
    <p class="lead">Vibrer au son des matchs de l'euro</p>
  </div>
</header>

<div class="container">
  <img src="assets/images/logo_800_400..jpg" alt="I'm EuroProno2016">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">News:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>
</div>
