<header role="banner" class="ep2016-header">
    <div class="container navbar-container">
        <!-- <div class="row"> -->
        <navbar></navbar>
        <!-- </div> -->
    </div>
</header>
<div class="bg_default">
    <div class="container wrap-container" id='pronoContentContainer'>
        <div class="row">
            <div class="col-sm-12">
                <img src="assets/images/Arena.png" alt="" style="width: 100%;height: auto;margin-bottom:30px;">
            </div>
        </div>
        <div class="row">
            <div style="text-align:center" ng-if="!nav.isLoggedIn()">
                <h1> Please <a href="/login">login</a> to enter arena</h1>
            </div>
            <div class="col-sm-12" ng-if="nav.isLoggedIn()">
                <div class="leagueSelect flatglow row">
                    <div class="logoTitle">
                        Click on one league you belong to enter Arena
                        <br>
                    </div>
                    <div class="logLig " ng-repeat="league in vm.leagues | filter:vm.search | orderBy:['-pinned','name']">
                        <a href="" ng-click="vm.loadLeagueDet(league._id)">
                            <div ng-if="league.owner_id._id==vm.playerId " class="tooltipdate" ng-switch on=" league.image.substr(0,4) ">
                                <img class="circle imgLig tour" ng-switch-when="http " ng-src="{{league.image}} ">
                                <img class="circle imgLig tour" ng-switch-default ng-src="assets/images/leagues/{{league.image}} ">
                                <span class="tooltipdatetext">{{league.name}}</span>
                            </div>
                            <div ng-repeat="member in league.members">
                                <div ng-if="member.user==vm.playerId && league.owner_id._id!==vm.playerId" class="tooltipdate" ng-switch on=" league.image.substr(0,4) ">
                                    <img class="circle imgLig " ng-switch-when="http " ng-src="{{league.image}} ">
                                    <img class="circle imgLig " ng-switch-default ng-src="assets/images/leagues/{{league.image}} ">
                                    <span class="tooltipdatetext">{{league.name}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="leagueMembers">
                    <table class="table table-responsive table-hover table-condensed">
                        <thead>
                            <tr>
                                <th colspan="6" style="font-weight:normal;margin-top:25px;">
                                    <span>{{vm.leaguesdet.description}}</span>
                                    <br>
                                    <br>
                                    <small style="font-weight:normal" class="text-warning pull-right" ng-if="vm.leaguesdet.type===2">If you don't appear in a private league, that means that your inscription has not been validated by the owner.</small>
                                </th>
                                <th colspan="6">
                                    <div class="skill-name" ng-if="!vm.complete ">Progress</div>
                                    <div class="skill-name" ng-if="vm.complete ">Complete</div>
                                    <div class="progress" ng-class="{'progress-striped active': !vm.complete}">
                                        <div class="progress-bar" ng-class="vm.complete ? 'progress-bar-success':'progress-bar-info'" role="progressbar" aria-valuenow="{{vm.progressMembers}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.progressMembers}}%">
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr ng-hide="vm.modify">
                                <th colspan="2"><a href='#' ng-click="sort( 'name'); " translate>Members</a></th>
                                <th class="c group"><a href="" ng-click="predicate = 'totalpoints'; reverse=!number"><span class="glyphicon glyphicon-arrow-down"></span></a>Pts<a href="" ng-click="predicate = 'totalpoints'; reverse=number"><span class="glyphicon glyphicon-arrow-up"></span></a></th>
                                <th class="c group">1er tour</th>
                                <th class="c group">2ème tour</th>
                                <th class="c group">3ème tour</th>
                                <th class="c group">Qualifs</th>
                                <th class="c group ">1/8</th>
                                <th class="c group">1/4</th>
                                <th class="c group">1/2</th>
                                <th class="c group">Finales</th>
                                <th class="c group">Win</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--| filter:{validated:true} -->
                            <tr class="league " ng-repeat="member in vm.members  | orderBy : ['-bet.points','user.name'] ">
                                <td> <img class="img-circle" width="30" height="30" ng-src="{{member.user.avatar || 'assets/images/stades/inconnu.gif'}}"></td>
                                <td><a href="/prono/{{member.user._id}}" class="tooltipdate"> {{member.user.name}} 
                                    <span class="tooltipdatetext" ng-if="member.user.firstname">{{member.user.firstname}} {{member.user.lastname}}</span></a></td>
                                <div ng-if="vm.leaguesdet.status===1 "> <span class="label " ng-class="member.validated ? 'label-success':'label-warning'">{{member.validated}}</span></div>
                                <td> {{member.bet.points}} </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer></footer>
    </div>
</div>
