<section id="ep2016-matchs" data-section="matchs" style="background-image: url('assets/images/bg2.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="center;">
                <img src="assets/images/ball_matchs.png" alt="" style="max-width: 100%;margin-bottom:30px; ">
            </div>
            <a href='.\team' style=" color:white; ">Team >>> </a>
        </div>
        <div class="table-responsive ">
            <table class="table table-responsive ">
                <thead style="color:white; ">
                    <tr>
                        <th><a href='#' ng-click="sort( 'match'); " style="color:white; ">Match</a></th>
                        <th>
                            <a href='#' ng-click="sort( 'group'); " style="color:white; ">Group</a>
                        </th>
                        <th><a href='#' ng-click="sort( 'date'); " style="color:white; ">Date</a></th>
                        <th><a href='#' ng-click="sort( 'team1'); " style="color:white; ">Teams</a></th>
                        <th><a href='#' ng-click="sort( 'image'); " style="color:white; ">Stade</a></th>
                    </tr>
                </thead>
                <tbody style="color:white; ">
                    <tr ng-repeat="match in vm.matchs | orderBy:orderProp ">
                        <td> {{match.typematch}} </td>
                        <td> {{match.group}} </td>
                        <td> {{match.date}} </td>
                        <td><strong>{{match.team1}} - {{match.team2}}</strong> </td>
                        <td><img src="assets/images/{{match.image}}.jpg " alt="{{match.image}} " class="circle "> {{match.stade}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="col-md-6 ">
    <form class="form " name="form " ng-submit="vm.createMatch(form) " novalidate>
        <div class="form-group ">
            <label>Type match</label>
            <input type="text " name="typematch " autofocus class="form-control " ng-model="vm.newmatch.typematch " required style="background-color: #FFF " tabindex=1>
        </div>
        <div class="form-group ">
            <label>Group</label>
            <input type="text " name="group " class="form-control " ng-model="vm.newmatch.group " required style="background-color: #FFF " tabindex=2>
        </div>
        <div class="form-group ">
            <label>Team1</label>
            <input type="text " name="team1 " class="form-control " ng-model="vm.newmatch.team1 " required style="background-color: #FFF " tabindex=2>
        </div>
        <div class="form-group ">
            <label>Team2</label>
            <input type="text " name="team2 " class="form-control " ng-model="vm.newmatch.team2 " required style="background-color: #FFF " tabindex=2>
        </div>
        <div class="form-group ">
            <label>Date</label>
            <input type="text " name="date " class="form-control " ng-model="vm.newmatch.date " required style="background-color: #FFF " tabindex=2>
        </div>
        <div class="form-group ">
            <label>Stade</label>
            <input type="text " name="stade " class="form-control " ng-model="vm.newmatch.stade " required style="background-color: #FFF " tabindex=2>
        </div>
        <div class="form-group ">
            <label>Image</label>
            <input type="text " name="image " class="form-control " ng-model="vm.newmatch.image " required style="background-color: #FFF " tabindex=2>
        </div>
        <div>
            <button class="btn btn-success btn-lg " type="submit " style="float:right;width:200px ">
                Save
            </button>
            <button class="btn btn-success btn-lg " ng-click="vm.updMatch(form) " style="float:right;width:200px ">
                Update
            </button>
        </div>
    </form>
</div>
<!-- vm est une convention (view model) ca évite de se poser des quesitons quand tu change de page vm.vms
{{vm.teams}}

-->
